{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var all_post_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var toggle_vis_url = "{{=URL('api', 'toggle_vis', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        {{if auth.user is not None:}}
        <div class="button_bar">
            <button v-if="!is_adding_post" class="btn btn-info btn-sm" v-on:click="add_post_button()">
                Add new post
            </button>
        </div>


        <div v-if="is_adding_post" id="add-new-post">
                <div>
                    <textarea class="form-control string" id="no_table_content" v-model="post_title"
                              placeholder="Enter text here" type="text" ></textarea>
                    <textarea class="form-control string" id="no_table_content" v-model="post_description"
                              placeholder="Enter text here" type="text" ></textarea>
                    <span class="help-block"></span>
                </div>
                <div id="uploader_div" style="display:none">
                    Upload an image file: <input id="file_input" type="file" accept="image/jpeg">
                    <input v-model.number="post_price" placeholder="Enter the price:" type="number" step="any" min="0">
                </div>

                <button v-if="!is_uploading" v-on:click="open_uploader"><i class="fa fa-plus"></i></button>
                <div class="uploading">
                    <button v-if="is_uploading"  v-on:click="upload_file">Submit</button>
                    <button v-if="is_uploading"  v-on:click="close_uploader">Cancel</button>
                </div>


                <div>
                    <button class="btn btn-success btn-sm post-button" v-on:click="upload_file">
                        Post
                    </button>
                    <button v-if="is_adding_post" class="btn btn-danger btn-sm" v-on:click="add_post_button()">
                     Cancel
                     </button>
                </div>
        </div>

        {{else:}}
            <p>This is a single-page memo tracker. Login or sign up to create/ edit posts!</p>
                    {{pass}}
        <div class="result_table">
            <div v-for="post in posts">
                {{if auth.user is None:}}
                <div v-if="post.is_public">
                     <div class="post text-left post-content">
                        <p>${post.content}</p>
                    </div>
                </div>
                {{else:}}

                <div v-if="post.is_public || post.user_email == '{{=auth.user.email}}' ">
                    <div class="post text-left post-content">
                        <div v-if="editing && edit_id==post.id">

                            <div class="form-group" id="no_table_content__row">
                                <div>
                                    <textarea class="form-control string" id="no_table_content" v-model="edit_content = post.content"
                                              placeholder="Enter text here" type="text" ></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group row edit-buttons" id="submit_record__row">

                                <div class="col-md-6 ">
                                    <button v-if="editing" class="btn btn-success btn-sm post-edit-button" v-on:click="edit_post_submit()" type="submit">
                                        Post
                                    </button>
                                    <button v-if="editing" class="btn btn-danger btn-sm cancel-button" v-on:click="cancel_edit()" type="button">
                                        Cancel
                                    </button>

                                </div>

                            </div>
                        </div>
                        <div v-if="!editing || (editing && edit_id != post.id)">
                            <p>${post.content}</p>
                        </div>

                        <div v-if="post.user_email == '{{=auth.user.email}}'">
                            <i class="fa fa-pencil" v-on:click="edit_post(post.id)"></i>
                            <i class="fa fa-trash-o" v-on:click="delete_track(post.id)"></i>
                            <i v-if="post.is_public" v-on:click="toggle_vis(post.id)" class="fa fa-users"></i>
                            <i v-if="!post.is_public" v-on:click="toggle_vis(post.id)" class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
                    {{pass}}
            </div>
        </div>
    </div>
</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
