/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 10px;
}

/* line 9, ../sass/_main.scss */
table#user_selector {
  border: 1px solid gray;
}
/* line 11, ../sass/_main.scss */
table#user_selector tbody tr {
  border-bottom: 1px solid gray;
}

/* line 16, ../sass/_main.scss */
button:disabled {
  background-color: lightgray;
}
/* line 18, ../sass/_main.scss */
button:disabled:hover {
  box-shadow: none;
}

/* line 1, ../sass/_navbar.scss */
.navbar-inverse {
  background-color: #dddddd;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(#f7f7f7, #dddddd);
  background-image: -webkit-linear-gradient(#f7f7f7, #dddddd);
  background-image: linear-gradient(#f7f7f7, #dddddd);
  border-color: #bbb;
}
/* line 5, ../sass/_navbar.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #dddddd;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(#f7f7f7, #dddddd);
  background-image: -webkit-linear-gradient(#f7f7f7, #dddddd);
  background-image: linear-gradient(#f7f7f7, #dddddd);
}
/* line 9, ../sass/_navbar.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > li > a {
  color: #999;
}
/* line 11, ../sass/_navbar.scss */
.navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #777;
}

/* line 16, ../sass/_navbar.scss */
.navbar-brand {
  font-size: 2em;
}

/* line 20, ../sass/_navbar.scss */
.navbar .nav {
  font-size: 1.0em;
}

/* line 2, ../sass/_tables.scss */
div.result_table table {
  width: 100%;
  margin: 1em auto 1em auto;
}
/* line 5, ../sass/_tables.scss */
div.result_table table tr {
  border-bottom: 1px solid #ddd;
  text-align: left;
}
/* line 8, ../sass/_tables.scss */
div.result_table table tr:first-child {
  border-top: 1px solid #ddd;
}
/* line 12, ../sass/_tables.scss */
div.result_table table th {
  padding: 5px 0.5em 5px 0.5em;
  background: #dddddd;
}
/* line 16, ../sass/_tables.scss */
div.result_table table td {
  padding: 4px 0.5em 4px 0.5em;
}

/* line 22, ../sass/_tables.scss */
div.table_footer {
  display: block;
  width: 90%;
  margin: auto;
  text-align: right;
  color: #666;
}
/* line 28, ../sass/_tables.scss */
div.table_footer span.pagine {
  color: #777;
  cursor: pointer;
}
/* line 31, ../sass/_tables.scss */
div.table_footer span.pagine.disabled i.fa {
  color: #ddd;
  cursor: not-allowed;
}
div.post_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; !important
}

div.contact_info {
    width: 350px;
    height: 150px;
    border: 1px solid black;
    background-color: #d9dde3; !important
}

div.tester {
    width: 100%;
    height: 80%;
    background-color: #f1f1f1; !important
}

div.tester2 {
    width: 100%;
    height: 100%;
    background-color: #0074d9; !important
}
div.dropdown_search{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn {
    background-color: gray;
    color: white;
    padding: 5px;
    font-size: 15px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #718e89;
}

.form-control {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit; !important
}

.string{
    white-space: pre-line;
}

div.publish_box {
    height: 35px;
    width: 1510px;
    background-color: #c3c3cb;
}

div.left_border {
    height: 1000px;
    width: 20px;
    background-color: #c3c3cb;
}

img.test_image{
    width: 100px;
    height: 100px;
    !important
}


div.intro_images{

}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}


/* mouse over link */
a:hover {
    color: #42feff;
}

#preview {
    padding: 2px;
    border: 1px solid;
    width:200px;
}
